<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <div class="star_rating", data_score="<%= comment.rating %>"></div>
        <p>

        <div class="user-panel mt-3 pb-3 mb-3 d-flex">

          <div class="image">
            <% if comment.client.avatar.attached? %>
              <%= image_tag comment.client.avatar , class:"img-circle elevation-2" %>
            <% else %>
              <%= image_tag ("aa.png") , class:"img-circle elevation-2" %>
            <%end %>
          </div>
          <strong><%= comment.client.full_name %>:</strong>

          </p>
        </br>
        </div>
          <p><%= comment.comment %></p>






        <%= comment.comments_time %>
    </div>
      <% if current_user.role == 'supadmin' %>
    <%= link_to  [comment.jobprofile, comment],
                method: :delete, class: "button is-danger", data: { confirm: 'Are you sure?' },class:"btn btn-danger btn-sm" do %>
          <i class="fas fa-trash">
          </i>
          Delete
          <%end %>
        <%end %>

    </div>

  </article>

</div>
