
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">



  <!-- Navbar -->
  <%= render "layouts/navbar" %>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <%= render "layouts/sidebar" %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content">

<p id="notice"><%= notice %></p>






<% unless @demandes.nil? %>
<h1> Demandes</h1>
<%= form_tag demandes_path, :method => 'get' do %>
          
          <div class="row">
            <div class="col-md-8 offset-md-2">

              <div class="input-group input-group-lg">
                <%= text_field_tag :recherche_demande, params[:recherche_demande],class:"form-control form-control-lg" ,placeholder: "Type your keywords here",type:"search"%>

                <div class="input-group-append">

                  <%= submit_tag "Search" , class:"btn btn-lg btn-default" %>

                  <%= link_to  demandes_path,class:"btn btn-success" do %>

                    Retour
                  <% end %>


                </div>
              </div>

            </div>
          </div>

  <% end %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Titre</th>
      <th>Commentaire</th>
      <th>date debut</th>
      <th>date fin</th>
      <th>Photo</th>
      <th>client</th>
      <th>technicien</th>
      <th>Status</th>
      <% if current_user.role == 'technicien' %>
      <th colspan="3"> actions</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
  
    <% @demandes.each do |demande| %>
    <tr>
      <td><%= demande.body %></td>

      <td><%= demande.commentaire %></td>
      <td><%= demande.date_debut %> </td>
      <td><%= demande.date_fin %> </td>
      <td>
        <% (0...demande.photo.count).each do |gallery| %>
          <%= image_tag demande.photo[gallery], style: "width: 100px; height:100px;" "card-img-top" , data_zoom_image: demande.photo[gallery] %>
        <% end %>
      </td>

      <td><%= demande.sender.full_name %>  </td>

      <td><%= demande.recipient.full_name %></td>
      <% if demande.status == 'accepter' %>
        <td><strong><p class="text-success"><%= demande.status %></p></strong></td>
        <% end %>
        <% if demande.status == 'encours' %>
      <td><strong><p class="text-warning"><%= demande.status %></p></strong></td>
     <% end %>
     <% if demande.status == 'refuser' %>
        <td><strong><p class="text-danger"><%= demande.status %></p></strong></td>
       <% end %>



 
      <% if current_user.role == 'technicien' %>
     
       <td>  <%= link_to "Accepter", demandeaccepter_path(demande.id), class: "btn btn-success" %> </td>
      
       <td>  <%= link_to "Refuser", demanderefuser_path(demande.id),  class: "btn btn-danger" %> </td>
        <% end %>

     <% end %>
     </tr>
  </tbody>
</table>

<% end %>

      <%= paginate @demandes %>
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <%= render "layouts/footer" %>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->


</body>
